@base_color: steelblue;

.wrapper{
	width:1000px;
	margin:0 auto;
	.content{
		overflow:hidden;
		
		.section{
			position:relative;
			overflow:hidden;
			margin: 0 0 50px 30px;
		} 
		
		.col-sm-7 .section{
		margin: 50px 0 0 0;
		}
	}
}


	.base_circle(@radius, @background){
	width: @radius;
	height: @radius;
	border-radius:@radius;
	background:@background;	
	border: (@radius/10) solid white;	
	box-shadow: 0 0 0 1px steelblue;
	}

	.circle {
	.base_circle(160px,@base_color);
	margin-left: 10px;
	margin-top: 10px;	
	}


h1{
	font-size:32pt;
}

h1, h2, h4, h5,h6{
	font-family:"Myriad Pro", Arial;
}

.name{
		h1{
			font-weight: lighter;
			margin-bottom:0;
			}
			
		h2{
			font-size:3.3em;
			font-family: "MyriadPro-Bold", Arial;
			font-weight: 700;
			margin-top:0%;
			margin-bottom:0%;
			}
			
		h4{
			font-size:1.3em;
			font-family: "MyriadPro-Bold", Arial;
			margin-top:0px;
			margin-left: 1.5em;
			font-weight:normal;
			}
}

.profile-circle, .education-circle, .experience-circle, .contact-circle, .soft-circle, .skills-circle{
	.base_circle(50px,@base_color);
	margin:3px 0px 0px 3px;
	background-repeat: no-repeat;
	background-position:center;
}

.profile-circle {	
	background-image: url(content/user2.png);	
}
.education-circle{
	background-image: url(content/education.png);	
}

.experience-circle{
	background-image: url(content/experience.png);	
}

.contact-circle{
		background-image: url(content/contact.png);	
}

.soft-circle{
		background-image: url(content/software.png);	
}

.skills-circle{
		background-image: url(content/skills.png);	
}



.title{
	color: @base_color;
	font-family: "MyriadPro-Bold", Arial;
	font-size:24pt;
	margin:-49px 0px 0px 70px;
	text-overflow:ellipsis;
	height:40px;
	overflow: hidden;
	
	h1{
		text-overflow:ellipsis;
	}
	
	&:after {
		content:"";
		display: inline-block;
		height: 19px;
		vertical-align: bottom;
		width: 100%;
		margin-right: -100%;
		margin-left: 3px;
		border-top: 4px solid @base_color;
		clear: both;
	}
}

.profile-text{
	font-family: "Myriad Pro", Arial;
	font-weight: normal;
	margin: 20px 0px  0px 0px;
	font-size:9.2pt;
	text-overflow: ellipsis;
}

.criteria{
	li {
	  width: 14px;
	  height: 14px;
	  text-align: center;
	  line-height: 7px;
	  border-radius: 10px;
	  background: @base_color;
	  margin: 0 0;
	  margin-right:4.3px;
	  display: inline-block;
	  color:  @base_color;
	  position: relative;
	  font-size: 9pt;
	}
	
	li:first-child::before {
	display: none;
	}
	
	h4{
	   text-align:center;
   }
   
   .active {
		background:  @base_color;
  
		&  ~ li {
		background: lightgray;
		color: lightgray;
		}
	}
} 

.table{
	overflow:hidden;
	width:70%;
	margin-top: 30px;
	
	div{
	line-height:38px;
	}
	
	label{
	color:@base_color;
	font-size:1.25em;
	}
	
	input{
		font-size:1.15em;
		line-height:40px;
		border:none;
		height:43px;
		margin-top:-10px;
	}
}


  ul li{
    list-style-image: url(content/black_point2.png);
	margin:0px 0px 0px 20px;
   }
   .col-lg-7 .section{
	   margin:0 0 0 0;
   }
   
.list{
		margin-top:20px;
		padding-left:10px;
   }
   .subtitle{
	   color: @base_color;
   }
   
   .software{
	   overflow:hidden;
	   margin-top:2%;
   }
   
   
.footer{
   position: relative;
   width: 100%;
   height: 50px;
   top: calc(5vh);
   
  .logo{
		margin-left:350px;
		display: inline-block;
		width:300px;
		height:50px;
		position:relative;
		background-image: url(content/logo.png);
		background-repeat:no-repeat;
		background-position: center;
	}
}

.valuenow(@now)
{
width:@now;
}

.half-active{
.valuenow(50%);
}

.two-thirds-active{
.valuenow(67%);
}

.three-fourths-active{
.valuenow(75%);
}

.neinty-active{
.valuenow(90%);
}