table{
	width: 100%;
	height: 500px;
	border: 1px solid black
}

tr{
	
}
td{
	border: 1px solid black
}


.header{
	width:150px;
}

.left{
	height:0px
}
.left td{
	width:40%;
}

.logo{
	background:url(epam.png);
	background-repeat: no-repeat;
	border: none;
	padding-bottom:70px;
}


.menu{
	height: 50px;
	background-color:black;
}

.menu td{
	color:white;
	border: none;
	
}

.left td{
	border: 10px solid gray;
	background-color: black;
	width:300px;
}

li{
	color: white;
	line-height:40px;
	list-style-type: none;
}

.button td{
	border-collapse: collapse;
}
