 @font-face {
    font-family:MyriadPro-Bold; /* Гарнитура шрифта */
    src: url(fonts/MyriadPro-Bold.ttf); /* Путь к файлу со шрифтом */
   }
html,body {
} 
  .wrapper{
	  position: relative;
	  width:1000px;
	  max-width:1100px;
	  margin: 0 auto;
	  background-color:white;
	  
/* 	 background-image: url(back.jpg);
	 background-repeat: no-repeat;	 */
/* 	 clear:both; */
  }
  
  .content{
	  overflow:hidden;
  }
  
  .header{
	float: left;
	width:400px;
	height:500px;
	margin-left:100px;
}
  
  .out-circle {
	left:50px;
	width:182px;
	height:182px;
	border: 1px solid #0094D0;
	background:white;
	border-radius:91px;
	border-color:SteelBlue;
	margin-top:64px;
	margin-left:23px;
}
.circle {
	width:160px;
	height:160px;
	background:SteelBlue;
	border-radius:80px;
	margin-left: 10px;
	margin-top: 10px;
}

.name{
		line-height:45px;
		width: 230px;
}

h1{
	font-size:32pt;
}

h1, h2, h4, h5,h6{
	font-family:"Myriad Pro", Arial;
}

.name h1{
	font-weight: lighter;
	margin: 25px 0px 0px 2px;
}

.name h2{
font-size:38pt;
font-family: "MyriadPro-Bold", Arial;
font-weight: 700;
margin-top: -2px;
margin-bottom: 0px;
}

.name h4{
	line-height:34px;
	font-size:15pt;
	font-family: "MyriadPro-Bold", Arial;
	margin-top:0px;
	margin-left: 30px;
}

.section{
	float:left;
	position:relative;
	width:500px;
	margin-bottom:30px;
}
.prof{
	margin-top:-50px;
}

.small-outside-circle {
	top:28px;
	left:40px;
	width:58px;
	height:58px;
	border: 1px solid #0094D0;
	background:white;
	border-radius:58px;
	border-color:SteelBlue
}

.profile-circle, .education-circle, .experience-circle, .contact-circle, .soft-circle, .skills-circle{
	top:4px;
	left:4px;
	width:50px;
	height:50px;
	background:SteelBlue;
	border-radius:25px;
	margin: 4px 0px 0px 4px;
	background-repeat: no-repeat;
	background-position:center;
}

.profile-circle {	
	background-image: url(content/user2.png);	
}
.education-circle{
	background-image: url(content/education.png);	
}

.experience-circle{
	background-image: url(content/experience.png);	
}

.contact-circle{
		background-image: url(content/contact.png);	
}

.soft-circle{
		background-image: url(content/software.png);	
}

.skills-circle{
		background-image: url(content/skills.png);	
}
.title{
	color: steelblue;
	font-family: "MyriadPro-Bold", Arial;
	font-size:24pt;
	margin:-49px 0px 0px 70px;
	text-overflow:ellipsis;
	width: 210px;
	height:40px;
/* 	overflow: hidden; */
}

.title h1{
		text-overflow:ellipsis;
}
.rightsection .title{
	margin:-51px 0px 0px 75px;
}

.title:after {
    content:"";
    display: inline-block;
    height: 19px;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 3px;
    border-top: 4px solid rgb(61,108,176);
	clear: both;
}


.header-information{
	width: 350px;
	height:65px;
}

.profile-text{
	width:350px;
	font-family: "Myriad Pro", Arial;
	font-weight: normal;
	margin: 20px 0px  0px 0px;
	font-size:9.2pt;
	text-overflow: ellipsis;
}

.footer{
   position: relative;
   top:calc(5vh);
   width: 100%;
   min-height: 50px;
  
}


.logo{
	display: inline-block;
	left:40%;
	right:40%;
	width:300px;
	height:50px;
	position:relative;
	background-image: url(content/logo.png);
	background-repeat:no-repeat;
	background-position: center;
}

ul li{
    list-style-image: url(content/black_point2.png);
	margin-bottom:15px;
/* 	line-height:20px; */
/* 	margin-top:43px; */
   }
   
.list{
	margin:15px 0px 0px 0px;
	padding-left:35px;
}

 .list h4{
	color:steelblue;
	font-size:15pt;
	margin:0px 0px 0px 7px;
} 

.title2{
	 text-overflow:ellipsis;
	 height:26px;
}

.list .title2 h4:after{
	 content:" // Feb 2011 - Jun 2014";
	 color:black;
	 font-weight: normal;
	 text-overflow:ellipsis;
	 height:26px;
}

.info h4{
	font-weight:normal;
	font-size:15pt;
	width:200px;
	color: black;
		 text-overflow:ellipsis;
}

.info h6{
	margin:2px 0px 0px 9px;
	font-weight:normal;
	font-size:9.3pt;
	margin-bottom:0px;
	text-overflow:ellipsis;
/* 	line-height:20px; */
}

.table{
	display:table;
	width:350px;
	border-bottom:none;
	line-height:1px;
	padding-top:20px;
	margin-left:-10px;
}
.cell{
	display:table-cell;
	padding:1px;
	font-family:"MyriadProRegular";
}
.section .row{
	display:table-row;
	height:30px;
}

.row .cell:first-child{
	width:101px;
}

.cell label{
	color:steelblue;
	font-weight: bold;
	margin:10px;
	line-height:25px;
	font-size: 12pt;
}

.cell input{
	color:black;
	font-weight: normal;
	margin:10px;
	line-height:25px;
	font-size: 12pt;
	height:15px;
	border:none;
}
.col-sm-5{
	float:left;
}
.progress{
	margin-top:22px;
	width: 600px;
	height:196px;
}

.progress .col-sm-5{
	width: 265px;
}

.progress h4{
/* 	padding-top:30px; */
	float: left;
	font-family:"Myriad Pro", Arial;
	margin: 2px 100px 7.5px 0px;
	text-align:center;
	font-size:16pt;
	font-weight: normal;	
	line-height:26px;
}

progress::-webkit-progress-bar { background-color: lightgray; }
progress::-webkit-progress-value { background: steelblue; }

progress{
	 -webkit-appearance: none; 
    appearance: none;
	width: 220px;
	height:18px;
	border: none;
}
.skills .criteria:{
	width:310px;
	margin-right:200px;
}


.criteria li {
  width: 14px;
  height: 14px;
  text-align: center;
  line-height: 7px;
  border-radius: 10px;
  background: steelblue;
  margin: 0 0;
  margin-right:4.3px;
  display: inline-block;
  color:  steelblue;
  position: relative;
  font-size: 9pt;
}

.criteria li:first-child::before {
  display: none;
}

.active {
  background:  steelblue;
}

.active ~ li {
  background: lightgray;
  color: lightgray;
}

.criteria h4{
/* 	padding-top:30px; */
	font-family:"Myriad Pro", Arial;
	margin: 0px 0px 0px 19px;
	text-align:center;
	font-size:15pt;
	font-weight: normal;	
	line-height:14px;
}

.criteria ul{
	padding-left: 35px;
}

.progress .col-sm-5 h4{
	margin-bottom:3px;
}
