 @font-face {
    font-family:MyriadPro-Bold; /* Гарнитура шрифта */
    src: url(fonts/MyriadPro-Bold.ttf); /* Путь к файлу со шрифтом */
   }

   @import "compass/css3";
   
body{
	width:100%;
	margin-left: 158px;
	background-image: url(back2.jpg);
	 background-repeat: no-repeat;	
}

.wrapper{
/* 	display:inline; */
}

.left-panel{
	float:left;
	width:29%;	
}

.right-panel{
	float: left;
	width:42%;
	height:1352.590px;
}

.out-circle {
	left:50px;
	width:182px;
	height:182px;
	border: 1px solid #0094D0;
	background:white;
	border-radius:91px;
	border-color:SteelBlue;
	margin-top:64px;
	margin-left:23px;
}
.circle {
	width:160px;
	height:160px;
	background:SteelBlue;
	border-radius:80px;
	margin-left: 10px;
	margin-top: 10px;
}

.profile-outside-circle {
	top:28px;
	left:40px;
	position:relative;
	width:58px;
	height:58px;
	border: 1px solid #0094D0;
	background:white;
	border-radius:58px;
	border-color:SteelBlue
}
.profile-circle {
	position:absolute;
	top:4px;
	left:4px;
	width:50px;
	height:50px;
	background:SteelBlue;
	border-radius:25px
}

.header{
	margin-left:100px;
}

.name{
		line-height:45px;
}

.header-information{
	margin-top:10px;
/* 	display: inline; */
}

.title{
	color: steelblue;
	font-family: "MyriadPro-Bold", Arial;
	font-size:24pt;
	margin:36px 0px 0px 28px;
}

.profile-text{
	width: 85%;
	font-family: "Myriad Pro", Arial;
	font-weight: normal;
	margin: 125px 0px  0px 41px;
	font-size:9.2pt;
}

.name h1{
	font-weight: lighter;
	margin: 25px 0px 0px 2px;
}

.name h2{
font-size:38pt;
font-family: "MyriadPro-Bold", Arial;
font-weight: 700;
margin-top: -2px;
margin-bottom: 0px;
}

.name h4{
	line-height:34px;
	font-size:15pt;
	font-family: "MyriadPro-Bold", Arial;
	margin-top:0px;
	margin-left: 30px;
}

.profile-circle img{
	margin:10px 0px 0px 10px;
}

.col-sm-2, .col-sm-5, .col-sm-4{
	 float: left;
}

.col-sm-2 {
    width: 17.66666667%;
  }
.col-sm-5 {
    width: 145px;
	height:95px;
	margin-left:12px;
	margin-top:0px;

  }
  
  
  .col-sm {
    width: 150px;
	height:100px;
	margin-left:12px;
  }
  
    .col-smm {
    width: 150px;
	height:100px;
	margin:10px 0px 0px 85px;
  }
  
.contact-fields .col-sm-5{
	width: 37%;
	
}

h1{
	font-size:32pt;
}

h1, h2, h4, h5,h6{
	font-family:"Myriad Pro", Arial;
}
.hr{
/* 	margin-left: 20px; */
	margin-top: 55px;
	line-height:5px;
}

.hr2{
	margin-left: 18px;
	margin-top: 55px;
	line-height:5px;
}
.contact-fields{
	color: steelblue;
	margin-left:29px;
	margin-top:106px;
}


.contact-fields col-sm-2{
	margin-top:-2px;
}
.contact-info{
	float:left;

}
.contact-fields h5{
	font-size: 12pt;
	color:black;
	font-weight: normal;
	margin: 0px 0px  0px 117px;
	padding-top:5px;
	height: 18px;
}
.contact-fields h4{
	margin:4.5px 0px 0px 12px;
	line-height:39px;
}

.contact-fields h5{
		margin:20px 0px 0px 30px;
		line-height:37px;
}

.skills{
	float:left;
	margin: 0px 0px 0px 40px;
}

.skills .title{
	margin-left:8px;
	margin-top:28px;
}

.skills .hr2{
		margin: 48px 0px 45px 3px;
}
.skills .col-sm{
	float:left;
	width:140px;
	height:105px;
	margin-left:5px;
}
.skills .col-sm-5{
	width:105px;
	margin-left:5px;
}

.criteria{
	top:100px;
}
.criteria h4{
/* 	padding-top:30px; */
	font-family:"Myriad Pro", Arial;
	margin: 0px 0px 0px 19px;
	text-align:center;
	font-size:15pt;
	font-weight: normal;	
	line-height:14px;
}

.skills .profile-outside-circle{
	left:0px;
	top:20px;
}
.left-panel ul{
	margin: 0px 0px  20px 34px;
	padding-left:0px;
	height:27px;
	line-height:44px;
}
.left-panel ul li {
display:inline;
}

.right-panel .col-sm-2{
	margin: 15px 0px 0px 5px;
	width:60px;
	height:60px;
}

.right-panel .title{
		margin: 50px 0px 0px 44px;
}

.right-panel .hr{
	margin: 70px 0px 0px 70px;
}

.black-point {
    list-style-image: url(content/black_point2.png);
   }
   
.education-text{
	width:40%;
}

.right-panel ul li{
	margin-top:135px;
	margin-left: 39px;
}

.list{
	margin-top:0px;
	
}
 .list h4{
	color:steelblue;
	font-size:15pt;
	margin-left:9px;
} 

.list .col-sm-2{
	width:20px;
	height:20px;
	padding-left:47px;
	margin-top:5px;
}

.list .col-sm-5{
	width:170px;
	margin-left:7px;
	height:0px;
}
.list .col-sm-5 h4{
		margin-top:10px;
		margin-bottom:0px;
		
}
 .col-sm-4{
	width:320px;
	height: 20px;
	padding-left:173px;
	margin-bottom:0px;
}

.col-sm-4 h4{
	color:black;
	font-weight:lighter;
	margin-top:10px;
}

.info{
	margin-left:87px;
	margin-top:165px;
	padding-top:7px;
}

.info h4{
	font-weight:normal;
	font-size:15pt;
	margin-bottom:13px;
	width:200px;
}

.info h6{
	margin-top:0px;
	font-weight:normal;
	font-size:9.3pt;
	margin-bottom:0px;
}

.right-panel h4{
	line-height:10px;
}
.first{
	margin-top: -35px;
}
.second, .third{
	margin-top:-157px;
}
.second .info h4{
	margin-top:30px;
}

.third{
	margin-top:-160px;
}

.third .info h4{
	margin-top:31px;
}
.third .info h6{
	margin-top:-2px;
}

.fourth{
	margin-top:-160px;
}

.fourth .info h4{
	margin-top:31px;
}
.fourth .info h6{
	margin-top:-2px;
}

.experience .header-information {
	margin-top:0px;
}
.firstE .info{
	margin-top: 133px;
}
 .firstE h4{
	color:black;
}
.firstE .info h4{
	margin-top:28px;
}
.secondE{
	margin-top: -160px;
}
.secondE .info h4{
	margin-top: 28px;
}
.secondE h4{
	color:black;
}

.thirdE{
		margin-top: -155px;
}
.thirdE h4{
	color:black;
}

.software{
	margin-top: -10px
}

.software .header-information{
	height:100px;
}

.progress{
	margin-left: 40px;
	margin-top:19px;
	width: 600px;
}

.progress .col-sm-5{
	width: 265px;
}

.progress h4{
/* 	padding-top:30px; */
	float: left;
	font-family:"Myriad Pro", Arial;
	margin: 2px 100px 7.5px 0px;
	text-align:center;
	font-size:16pt;
	font-weight: normal;	
	line-height:26px;
}

progress::-webkit-progress-bar { background-color: lightgray; }
progress::-webkit-progress-value { background: steelblue; }

progress{
	 -webkit-appearance: none; 
    appearance: none;
	width: 220px;
	height:18px;
	border: none;
}

li {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 2em;
  border-radius: 10px;
  background: steelblue;
  margin: 0 0;
  margin-right:4.3px;
  display: inline-block;
  color:  steelblue;
  position: relative;
  padding-left:8px;
  font-size: 9pt;
}

li:first-child::before {
  display: none;
}

.active {
  background:  steelblue;
   padding-left:2px;
}

.active ~ li {
  background: lightgray;
  color: lightgray;
  padding-left:2px;
}

.criteria ul{
	margin-bottom:24px;
	margin-left:37px;
	margin-top:-5px;
}

.footer{
	clear: both;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
	top:1350px;
	left:470px;
	background-image: url(content/logo.png);
	background-repeat:no-repeat;
}
