.header{
	margin-left:40%;
}
li:before{
	color:black;
	size:large;
}

.black-point {
    list-style-image: url(content/black_point.png);
   }

#black{
	color:black;
}
.contact-text{
	color:black;
	font-size:medium;
	margin-left:15px;
}
.education-text{
	color:black;
	font-size:medium;
	margin-left:15px;
}
h6{
	margin-top:0px;
}
.company-name-text{
	color:black;
	font-size:large;
	font-weight:bold;
}
.left-small-part{
	width:35%;
}
.right-big-part{
	width:65%;
	float:right;
	
}

.left-small-part2{
	width:23%;
}
.right-big-part2{
	width:77%;
	float:right;
	
}

.big{
	font-size:xx-large;
	margin-bottom:0px;
}
.super-big{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size:xx-large;
	font-weight:bold;
	margin-top:0px;
	margin-bottom:0px;
}
.small{
	margin-top:0px;
	margin-left:22px;
}
.skills-progress{
	 background-image: url(content/blue_circle.png);
	 background-repeat: repeat;	
}

.profile-text{
	width:85%;
	color:black;
	margin-left:50px;
}
.wrapper{
	width:100%;
	height:90px;
}
.wrapper2{
	width:40%
}
.name{
	margin-left:35px;
}
.out-circle {
	left:50px;
	position:relative;
	width:130px;
	height:130px;
	border: 1px solid #0094D0;
	background:white;
	border-radius:65px;
	border-color:blue;
	margin-top:20px;
}
.circle {
	position:absolute;
	top:5px;
	left:5px;
	width:120px;
	height:120px;
	background:blue;
	border-radius:60px
}
.small-black-circle {
	width:8px;
	height:8px;
	background:black;
	border-radius:4px
}
.left-panel{
	/* float:left: */
	width: 50%;
	/* margin-left:40px;
	left:40px */
}
.right-panel{
	width:50%;
	float:right;
	/* margin-left:50%;
   margin: 0px 0px 0px 50px; */
}
footer{
	text-align:center;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:small;
	color:grey;
	margin-top:100px
}
.profile-outside-circle {
	left:50px;
	position:relative;
	width:50px;
	height:50px;
	border: 1px solid #0094D0;
	background:white;
	border-radius:50px;
	border-color:blue
}
.profile-circle {
	position:absolute;
	top:5px;
	left:5px;
	width:40px;
	height:40px;
	background:blue;
	border-radius:20px
}

.picture-inside{
	margin-left:10px;
	margin-top:10px;
	color:white;
}
.header-information{
	color:blue;
	margin-top: 20px;
}

.to-left{
	margin-left:70px;
}
.to-left2{
	margin-left:15px;
}
.line { 
    border-left: 2px solid #ccc; /* Параметры линии */ 
    margin-left: 20px; /* Отступ слева */
    padding-left: 10px; 
	color: blue;
}
 .li {
    list-style-type: none; /* Убираем маркеры */
   }
 
 .ul {
	 
    margin-left: 50px; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }

 .column {
margin-left:50%;
   }
   
   .skills{
	   margin-left:100px;
	   margin-top: 20px;
	   color:black;
	   
   }
   

	