.header{
	margin-left:100px;
}

img{
	margin-left:0px;
}

.li-left{
	margin-top:50px;
}
.progress{
	display:inline;
	margin-left:45px;
}

.text{
	margin-bottom:0px;
	margin-top:21.1px;
	height: 24px;
}

.circle-progress-full{
	float:left;
	 background-image: url(content/steelblue.png);
	  background-repeat: repeat-x;
	  background-repeat: space;
	  width:80%
}

.circle-progress-not{
	float:left;
	 background-image: url(content/steelblue.png);
	  background-repeat: repeat-x;
	  background-repeat: space;
	  width:60%
}
.circle-progress-not-g{
	 background-image: url(content/gray.png);
	  background-repeat: repeat-x;
	  background-repeat: space;
	  width:40%
}

.right{
	float:right;
	height:50px;
	width:65%;
}

.right{
	height:50px;
	width:35%;
}

.contact-info{
	margin-top:40px;
}
hr {
	margin-top:25px;
	float:left;
    border: none; /* Убираем границу */
    background-color: steelblue; /* Цвет линии */
    color: steelblue; /* Цвет линии для IE6-7 */
    height: 5px; /* Толщина линии */
	width:100px;
   }
body{
/* 	margin-left:20%;
	margin-left:20%; */
/* 	 background-image: url(back.jpg);
	 background-repeat: no-repeat;	 */
	width: 60%;
}

/* .p{
	margin-top:23px;
	height:20px;
} */

li:before{
	color:black;
	size:large;
}

.black-point {
    list-style-image: url(content/black_point.png);
	margin-top:40px;
   }

#black{
	color:black;
}
.contact-text{
	 height:30px;
	font-family: "Myriad Pro", Helvitica, Tahoma; 
	color:black;
	font-size:medium;
	margin-left:15px;
}
.education-text{
	color:black;
	font-size:medium;
	margin-left:15px;
}
h6{
	margin-top:0px;
}
.company-name-text{
	color:black;
	font-size:large;
	font-weight:bold;
}
.left-small-part{
	width:25%;
}
.right-big-part{
	width:75%;
	float:right;
	
}

.left-small-part2{
	width:23%;
}
.right-big-part2{
	width:77%;
	float:right;
	
}

.big{
	font-family: "Myriad Pro", Helvitica, Tahoma; 
	font-size:32.593pt;
	margin-bottom:0px;
	margin-top:21px;
}
.super-big{
	font-family: "Myriad Pro", Helvitica, Tahoma; 
	font-size:32.593pt;
	margin-top:0px;
	margin-bottom:0px;
}
.small{
	font-family: "Myriad Pro", Helvitica, Tahoma; 
	font-size:13.189pt;
	margin-top:0px;
	margin-left:22px;
}
.skills-progress{
	 background-image: url(content/blue_circle.png);
	 background-repeat: repeat;	
}

.profile-text{
	font-family: "Myriad Pro", Helvitica, Tahoma; 
	font-size: 9pt;
	width:80%;
	color:black;
	margin-top: 35px;
	margin-left:40px;
}
.wrapper{
	width:100%;
	height:90px;
}
.wrapper2{
	width:100%;
	padding-left:0px;
}

.wrapper3{
	width:100%;
	height:90px;
	margin-top:40px;
}
.name{
	margin-left:0px;
}


/* .out-circle {
	left:50px;
	position:relative;
	width:130px;
	height:130px;
	border: 1px solid #0094D0;
	background:white;
	border-radius:65px;
	border-color:SteelBlue;
	margin-top:20px;
}
.circle {
	position:absolute;
	top:5px;
	left:5px;
	width:120px;
	height:120px;
	background:SteelBlue;
	border-radius:60px
} */

.out-circle {
	left:50px;
	width:182px;
	height:182px;
	border: 1px solid #0094D0;
	background:white;
	border-radius:91px;
	border-color:SteelBlue;
	margin-top:72px;
	margin-left:22px;
}
.circle {
	width:160px;
	height:160px;
	background:SteelBlue;
	border-radius:80px;
	margin-left: 10px;
	margin-top: 10px;
}


.small-blue-circle {
	width:17px;
	height:17px;
	background:steelblue;
	border-radius:8.5px
}

.small-gray-circle {
	width:17px;
	height:17px;
	background:LightGray;
	border-radius:8.5px
}

.left-panel{
	/* float:left: */
	width: 50%;
	/* margin-left:40px;
	left:40px */
}
.right-panel{
	width:50%;
	float:right;
	/* margin-left:50%;
   margin: 0px 0px 0px 50px; */
}
footer{
	text-align:center;
	font-family:"Myriad Pro Light SemiExtended ";
	font-size:medium;
	color:grey;
}
.profile-outside-circle {
	top:25px;
	left:40px;
	position:relative;
	width:58px;
	height:58px;
	border: 1px solid #0094D0;
	background:white;
	border-radius:58px;
	border-color:SteelBlue
}
.profile-circle {
	position:absolute;
	top:4px;
	left:4px;
	width:50px;
	height:50px;
	background:SteelBlue;
	border-radius:25px
}

.picture-inside{
	margin-left:10px;
	margin-top:10px;
	color:white;
}
.header-information{
	color:SteelBlue;
	margin-top: 20px;
}

.to-left{
	font-family: "Myriad Pro", Helvitica, Tahoma; 
	margin-left:70px;
	margin-top:15px;
}
.to-left2{
	margin-left:15px;
}
.line { 
    border-left: 2px solid #ccc; /* Параметры линии */ 
    margin-left: 20px; /* Отступ слева */
    padding-left: 10px; 
	color: SteelBlue;
}
 .li {
	 height:27px;
	font-family: "Myriad Pro", Helvitica, Tahoma; 
	font-weight: bold;
	
    list-style-type: none; /* Убираем маркеры */
   }
 
 .ul {
	 
    margin-left: 50px; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }

 .column {
margin-left:50%;
   }
   
   .skills{
	   margin-top: 40px;
	   color:black;
	   
   }
   
 .p{
	 text-align:center;
 }
   

	