body{
	margin: 100px 0px 0px 100px;
}
.square{
	width: 200px;
	height: 200px;
	border: 2px solid;
	border-color: green;
	box-shadow: inset 0px 0px 30px rgba(0,0,0,0.5), 0px 0px 10px rgba(0,0,0,0.5), 0px 0px 40px rgba(0,0,0,0.8);
}
